/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/


.montserrat {

	font-family: 'Montserrat' !important;

}

.montserratlight {

	font-family: 'Montserrat-Light' !important;

}
.montserratalt {
	font-family: 'MontserratAlternatives' !important;
}

.montserratlight {
	font-family: 'Montserrat-Light' !important;
}
.montserratblack {
	font-family: 'Montserrat-Black' !important;
}
